* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(./istockphoto-637298374-612x612.jpg); */
}

form {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 12rem;
    border: 2px solid #800000;
    padding: 15px;
    
}
button {
    height: 2.5rem;
    width: 12rem;
}

#player-list {
    display: flex;
    flex-direction: column;
      background-color: aqua;
      /* padding: 40px; */
      list-style: none;
      gap: 1rem;
      height: 100vh;
      /* margin: 20px; */
      /* border: 3px solid#800000; */
      /* border-radius: 100px; */
      width: auto;
      margin-top: 1rem;
    justify-content: start;
    align-items: center;


      
}



li{
    display: flex;
    height: 3rem;
    border: 2pz solid black;
    background-color: green;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
    border-radius: 5px;
    padding: 5px;


}
 .plus{
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    border: none;
}

